body {
    margin: 0;
}

.secao {
    background-color: #BA68C8;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    padding: 0 120px;
    margin: 0 auto;
}

.content {
    font-family: raleway;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.sobre {
    color: #703E78;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

h1 {
    font-size: 64px;
    margin: 250px 0 20px 0;
    position: relative;
}

.quebra {
    display: none;
}
 
h2 {
    font-size: 22px;
    margin: 60px 0 30px 0;
}

h3 {
    margin: 10px 0;
}

h1::after {
    content: "";
    display: block;
    position: absolute;
    background: url(../assets/nina-image.svg);
    width: 265px;
    height: 308px;
    top: -160px;
    left: 580px;
}

#meu-link {
    border-bottom: 3px dashed #703E78;
    text-decoration: none;
    color: #FAFAFA;
    font-size: 22px;
}

#meu-link:hover{
    border-bottom: 3px dashed #703E78;
    text-decoration: none;
    color: #703E78;
    font-size: 22px;
}

@media (max-width: 1199.98px) {
    h1::after {
    content: "";
    display: block;
    position: absolute;
    background: url("../assets/nina-image.svg");
    width: 265px;
    height: 308px;
    top: -160px;
    left: 580px;
    }
}

@media (max-width: 991.98px) {

    .quebra {
        display: flex;
    }
    .container {
        padding: 0 30px;
    }

    h1::after {
        content: "";
        display: block;
        position: absolute;
        background: url("../assets/nina-image.svg");
        width: 233px;
        height: 266px;
        top: -128px;
        left: 317px;
        }
}

@media (max-width: 767.98px) {
    

    h1::after {
        content: "";
        display: block;
        position: absolute;
        background: url("../assets/nina-image.svg");
        width: 233px;
        height: 266px;
        top: -128px;
        left: 317px;
        }

    .content:nth-child(1) {
        min-height: 100vh;
    }
    
    .content:nth-child(2) {
        padding-bottom: 80px;
    }
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 30px;
        margin-top: 140px;
    }

    .sobre {
        font-size: 16px;
    }

    h2 {
        font-size: 18px;
    }

    #meu-link {
        font-size: 18px;
    }

    #meu-link:hover {
        font-size: 18px;
    }

    h1::after {
        content: "";
        display: block;
        position: absolute;
        background: url("../assets/nina-image.svg");
        width: 150px;
        height: 174px;
        top: -138px;
        left: 0px;
        }
}